body {
  background-color: green;
  font-family: Halvetica, Arial, sans-serif;
  margin: 0;
}

.container {
	font-size: 20px;
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
}

.content {
	padding: 12px;
}
